.screen {
    display: flex;
}
header {
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
    margin-top:3rem;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.welcome {
    color: #fff;
    width: 40vh;
    position: relative;
    left: calc(30% - 11rem);
    margin-top: 7rem;
    font-size: 8vh;
}
/* ############# CTA ############# */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ############# HEADER SOCIALS ############# */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 2px;
    height: 3rem;
    background: var(--color-primary);
}

.me {
    background: linear-gradient(var(--color-primary), transparent );
    width: 35vh;
    height:45vh;
    position: relative;
    left: calc(40% - 11rem);
    margin-top: 2rem;
    border-radius: 22rem 22rem 0 0;
}

.me img {
    max-width: 100%;
    height: auto;
    border-radius:50%;
    object-fit: contain;
    object-position: center;
}

.scroll__down {
    position: absolute;
    right: -1.3rem;
    bottom: 6rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
#social_icon {
    height:2rem;
}
/* ================= MEDIA QUERIES ============= */

@media screen and (max-width: 1024px) {
    header {
        height: 67vh;
    }
    .scroll__down{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
    .header__socials, .scroll__down {
        display: none;
    }
    .welcome{
        display: none;
    }
}
